@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Yeon+Sung&display=swap');

*{font-family: "IBM Plex Sans KR";}

nav{
  width:100%;
  height: 50px;
  opacity: 0.7;
  /* position: sticky !important;
  top: 0 !important; */
  /* position: sticky !important;
  top: 0 !important; */

}

.navbar-brand img{
  width: 180px;
}






#main{
  width: 100%;
  height: 768px;
  /* background-image: url("../img/mobileTitle.jpg"); */
  background-image: url("../img/pcTitle.jpg");
  background-size: cover;
  position: relative;
}
#main h1{
  position: absolute;
  top: 250px;
  color: white;
  font-size: 40px;
  font-weight: 600;
}
#main h1 div:nth-child(1){
  font-size: 60px;
  font-weight: 900;
}
#main h1 div:nth-child(2){
  font-size: 18px;
  margin-top: 20px;
  font-weight: lighter;
}
#main h1 .btn{
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 50px;
  margin-top: 50px;
  border-radius: 3px;
}



#partner{
  padding-top: 80px;
  padding-bottom: 80px;
}

#partner img{
  width: 100%;
}
#partner h5{
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
}
#partner .col-sm-4 {
  line-height: 30px;
}
#partner .col-sm-4 div{
  font-size: 16px;
  color: gray;
}

.bgSet{
  width: 100%;
  height: 1380px;
  background-color: #F9FAFB;
  /* background-color: #00ff22; */
}
#delivery .container span, #new .container span{
  color: #00B0FB;
}
#delivery .container h1 div, #new .container h1 div{
  margin: 20px 0px;
}
#delivery .container h1, #new .container h1{
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 20px;
}
#delivery .col-sm-6 img{
  width: 100%;
}
#delivery h5 ,#new h5{
  color: #00B0FB;
  font-weight: bold;
  font-size: 22px;
  padding-top: 15%;
}
#delivery h3, #new h3{
  font-size: 36px;
  font-weight: 600;
}
#delivery .row{
  display: block !important;
  padding-left: 50px;
  padding-right: 50px;
}
#new .row{
  display: block !important;
  padding-bottom: 600px;
}

#delivery .row:nth-of-type(2) .col-sm-6,
#new .row:nth-of-type(2) .col-sm-6{
  float: left !important;
}
#delivery .row:not(:nth-of-type(2)) .col-sm-6,
#new .row:not(:nth-of-type(2)) .col-sm-6{
  float: right;
}

#new .col-sm-6 video{
  width: 100%;
}
#new .custom-nbsp{
  padding-left: 80px;
}
#new .row:nth-of-type(3) div{
  margin-bottom: 150px;
}




#better{
  width: 100%;
  height: 85vh;
  background-image: url("../img/pcTitle01.jpg");
  /* background-size: cover; */
  background-size: cover;
  background-position-x: -200px;
  clear: both;
  padding-left: 50px;
}
#better h1{
  font-weight: bold;
  font-size: 50px;
  padding-top: 80px;
  padding-bottom: 30px;
}
#better a{
  text-decoration: none;
  color: black;
}







#slider{
  clear: both;
  padding-bottom: 100px;
}
#slider h1 span{
  color: #00B0FB;
}
#slider h1{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 100px;
}


footer{
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .row:nth-child(1){
  font-weight: 800;
  font-size: 18px;
}
footer .row .col-sm-3 img{
  width: 65%;
  filter: invert(0.7);
}

footer .row .col-sm-12 img{
  width: 30px;
  transform: translateX(-30px);
  margin: 40px 0px;
}
footer .info{
  padding-bottom: 10px;
}
footer .info3{
  opacity: 0;
}









@media screen and (max-width:575px) {
  #collapsibleNavbar{
    padding: 50px !important;
    background-color: white;
  }
  #collapsibleNavbar a{
    color:black;
  }
  #collapsibleNavbar li:nth-child(2){
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }



  #main{background-image: url("../img/mobileTitle.jpg");}
  #main h1{
    top: 200px;
    font-size: 20px;
  }
  #main h1 div:nth-child(1){
    font-size: 36px;
  }
  #main h1 div:nth-child(2){
    font-size: 12px;
  }

  #partner {
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
  }
  #partner .col-sm-4{
    padding-top: 60px;
  }



  #new .row:nth-of-type(3) div{
    margin-bottom: 30px;
  }
  #new .custom-nbsp{
    margin-bottom: 50px;
  }

  #slider h1{
    padding-top: 100px;
    font-size: 28px;
  }


  footer .container{
    padding-bottom: 100px;
    transform: translateX(10px);
  }
  footer .row:not(:nth-of-type(1)){
    transform: translate(12px, -50px);
    padding: 0; margin: 0;

  }
  footer .info{
    transform: translateY(-50px);
  }
  footer .info2{
    opacity: 0;
    transform: translateY(-50px);
  }
  footer .info3{
    transform: translateY(-115px);
    opacity: 1;
  }
  footer .row .col-sm-3 img{
    width: 180px;
    transform: translateY(270px);
  }

}







